@import url('mainRight.css');


main {
    background-color: white;
}


.container {
    width: 1202px;
    margin: auto;
}

body {
    padding: 0px;
    margin: 0px;
}

.row {
    display: flex;
}

@font-face {
    font-family: openSansRegular;
    src: url('/font/open-sans.regular.ttf');
}

@font-face {
    font-family: openSansSemiBold;
    src: url('/font/open-sans.semibold.ttf');
}

.main__left {
    width: 20%;
    padding-right: 10px;
}

aside {}


.aside__discount {
    margin-top: 10px;
    border: 2px solid #e5e5e5;
}

.aside__discountTitle {}

.aside__discountTitle h3 {
    text-transform: uppercase;
    color: #7e8285;
    font-size: 16px;
    padding-left: 10px;
    font-family: openSansSemiBold;

}

.aside__discountTitle h3::before {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #83dc37;
    display: inline-block;
    margin-right: 10px;
}

.aside__discountList {}

.products {
    border-bottom: 2px solid #e5e5e5;

}
.products:hover{
    border-left:2px solid #e5e5e5;
    border-right:2px solid #e5e5e5;
}
.products:first-child {
    border-top: 2px solid #e5e5e5;
}

.products__image {
    width: 40%;
}

.products__image img {
    width: 100%;
    padding-top: 20px;
}

.products__info {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 60%;
}

.products__info h4 {
    font-size: 13px;
    text-transform: capitalize;
    font-family: openSansRegular;
}
.products__info:hover{
    color:#83dc36
}

.products__link {
    background-color: #83dc36;
    border-radius: 20px;
    width: 50px;
    height: 20px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: openSansSemiBold;
}

.products .products__link {
    padding: 2px 2px 3px 2px;
}


.products__link:hover {
    color: black;
    transition: 0.75s;
    transition-timing-function: linear;
}

img {
    border: none;
}

.aside__news {
    margin-top: 10px;
    border: 2px solid #e5e5e5;
}

.aside__newsTitle {}

.aside__newsTitle h3 {
    text-transform: uppercase;
    color: #7e8285;
    font-size: 16px;
    padding-left: 10px;
    font-family: "Open-sans-semibold";
}

.aside__newsTitle h3::before {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #83dc37;
    display: inline-block;
    margin-right: 10px;

}

.aside__newsList {}

.aside__newsList a {
    width: 60%;
    padding: 20px;
    margin: 0;
    text-transform: capitalize;
    font-size: 12px;
    color: black;
    font-family: openSansSemiBold;
    text-decoration: none;

}


.news {
    border-bottom: 2px solid #e5e5e5;
}

.news:hover{
    border-left:2px solid #e5e5e5;
    border-right:2px solid #e5e5e5;
}

.news:first-child {
    border-top: 2px solid #e5e5e5;
}
.news a:hover{
    color:#83dc36
}


.news__image {
    width: 40%;
}

.news__image img {
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}

/* .news a{
    display:flex;
} */
/* .news a h4:hover{
    color:red;
} */