@import url('main.css');
.container{
    width: 1170px;
    margin:auto;
}
body{
    margin:0;
}
.row{
    display:flex;
}
@font-face {
    font-family: "Open-sans";
    src: url('/ledthaiduong/css/font/open-sans.regular.ttf');
}
@font-face {
    font-family: "Open-sans-semibold";
    src: url('/ledthaiduong/css/font/open-sans.semibold.ttf');
}
