@import url('main.css');
.container{
    width: 1202px;
    margin: auto;
}
body{
    padding: 0px;
    margin: 0px;
}
.row{
    display: flex;
}
@font-face {
    font-family:openSansRegular ;
    src: url('/font/open-sans.regular.ttf');
}
@font-face {
    font-family:openSansSemiBold ;
    src: url('/font/open-sans.semibold.ttf');
}