@import url('header.css');
@import url('nav.css');
@import url('main.css');
@import url('footer.css');

.container {
    width: 1170px;
    margin: auto;
}
body{
    margin: 0px;
}
.row{
    display: flex;
}
@font-face {
    font-family:openSansRegular ;
    src: url('/font/open-sans.regular.ttf');
}
@font-face {
    font-family:openSansSemiBold ;
    src: url('/font/open-sans.semibold.ttf');
}
